.loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-block-end: 100px;
  margin-left: 40px;
  margin-right: 40px;
}
.userIcon {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-block-end: 30px;
}
.inputContainerItems {
  width: 95%;
  position: relative;
}
.loginSpacer{
    height: 50px;
}
.inputItems {
  float: left;
  text-align: center;
  width: 100%;
  border: 3px solid white;
  padding: 5px;
  height: 20px;
  border-radius: 12px;
  outline: none;
  color: #9dbfaf;
}
.inputItems:focus {
  color: palevioletred;
}
.formControlButton {
  position: absolute;
  /*right: 220px; */
  width: 60x;
  height: 36px;
  border: 2px solid white;
  background: black;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
}
.formControlIcon {
  width: 20px;
}
.signUpFormContainerItems {
  padding: 10px;
}
.loginFormButton {
  background-color: #db0cab;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 10px;
  border: 1px solid rgb(133, 127, 127);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  width: 100%;
  text-decoration: none;
  margin-top: 15px;

}

.signUpButtonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loginFormButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0));
  background: -moz-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: -webkit-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: -o-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: -ms-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0',GradientType=0);
  background-color: rgb(155, 0, 77);
}
.loginFormButton:active {
  top: 1px;
  color: white;
}
