body {
    background-image: url(src/background);
  }
  
  .profileUser {
    font-family: 'Poppins', sans-serif;
  }
  
  .profileUserMenu {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
  
  .profileUserMenu p:nth-child(1) {
    font-size: 21px;
    color: #ffffff;
  }
  .profileUserMenu p:nth-child(2),
  p:nth-child(3) {
    border: 1px solid #db0cab;
    padding: 10px;
    border-radius: 5px;
    background-color: #db0cab;
    font-size: 20px;
    color: #ffffff;
  }
  
  .profileUserMenu p:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .profilUserAvatar {
    line-height: 200px;
  }
  
  .profilUserAvatar p {
    text-align: center;
    color: #ffffff;
    z-index: 9999;
    margin-bottom: -200px;
    font-size: 28px;
  }
  
  .profilUserAvatarSquare {
    height: 200px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 auto;
    opacity: 0.5;
  }
  
  .user {
    text-align: center;
    color: #ffffff;
    font-size: 51px;
  }
  
  .visits {
    color: #ffffff;
  }
  