.toolbar{
    position: fixed;
    top:0;
    left: 0; 
    width: 100%;
    height: 56px;
    background: black;
}

.toolbarNavigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1.5rem;
}

.toolbarLogo{
    margin-left: 1rem;
}

.toolbarLogoItem{
    height: 50px;
}

.singUpButton, .loginButton {
    margin-left: 10px;
	background-color: #db0cab;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:10px;
	border:1px solid rgb(133, 127, 127);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
.singUpButton:hover, .loginButton:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0));
	background:-moz-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:-webkit-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:-o-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:-ms-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0',GradientType=0);
	background-color:  rgb(155, 0, 77);
}
.singUpButton:active, .loginButton:active {
	position:relative;
    top:1px;
    color: white;
}

.spacer{
    flex:1;
}

.toolbarNavigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbarNavigation li{
    padding: 0 0.5rem;
}

.toolbarNavigationItems a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}
.providerIconToolbar{
    height: 20px;
    cursor: pointer;
    margin-left: 5px;
}
.userIconToolbar{
    height: 12px;
    cursor: pointer;
    margin-left: 5px;
}

.toolbarNavigationItems a:hover,
.toolbarNavigationItems a:active{
    color: rgb(155, 0, 77);
}

@media (max-width: 768px){
    .toolbarNavigationItems{
        display: none;
    }
}
@media (min-width: 769px){
    .toolbarToggleButton{
        display: none;
    }
    .toolbarLogo{
        margin-left:0;
    }
} 